asgiref==3.7.2
async-timeout==4.0.3
backports.zoneinfo==0.2.1
boto3==1.26.164
botocore==1.29.164
dj-database-url==2.0.0
Django==4.2.2
django-cors-headers==4.1.0
django-environ==0.10.0
django-redis==5.4.0
django-storages==1.13.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
gunicorn==21.2.0
jmespath==1.0.1
packaging==23.2
Pillow==9.5.0
psycopg2-binary==2.9.6
PyJWT==2.7.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
redis==5.0.1
s3transfer==0.6.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.6.3
urllib3==1.26.16
